/* Center map container */
.map-container {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Leaflet map */
  .leaflet-map {
    height: 500px;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Back button */
  .back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-btn:hover {
    background-color: darkblue;
  }
  